EXPO_PUBLIC_SUPABASE_URL=https://vdprbdudjoqiptxavzmt.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkcHJiZHVkam9xaXB0eGF2em10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNzM5NDQsImV4cCI6MjA3Njc0OTk0NH0.9sogcsR0gTaTe6nRsrsDxn8juj_atjw0PSxNWG-TAUA
EXPO_PUBLIC_API_URL=https://stock-sync-api.onrender.com
EXPO_PUBLIC_ADMIN_API_TOKEN=e29596db490b12a171aeb2ae56c0ea6612fbfb43062a5ac0644c697c37ba8c09
